body {
	background-color: #fff;
}

.container-fluid{
    background-color: #eee;
    border-radius: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
    width: 90%;
}

@media (min-width: 768px) { 
    .container-fluid{
        width: 60%;
    }
}

@media (min-width: 576px) { 
    .container-fluid{
        width: 60%;
    }
}